<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="partners-description">Acest site este cofinanţat din Fondul Social European prin Programul Operaţional Sectorial Dezvoltarea Resurselor Umane 2007-2013</p>
                    <a href="#" class="logo-partners"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="logo"></a>
                </div>
                <div class="col-sm-6">
                    <ul class="main-nav">
                        <li><a href="#">POMOVEAZĂ-TE</a>
                        </li>
                        <li><a href="#">ŞTIRI</a>
                        </li>
                        <li><a href="#" class="main-nav-icn">icn</a>
                        </li>
                        <li><a href="#">CONTACT</a>
                        </li>
                        <li><a href="#">LOGIN</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="header-menu">
                        <li class="dropdown-block"><a href="#" class="dropdown-item">MENIU</a>
                            <ul class="header-menu-dropdown">
                                <li><a href="#" class="dropdown-link">Acasă</a>
                                </li>
                                <li><a href="#" class="dropdown-link">De ce case noi</a>
                                </li>
                                <li><a href="#" class="dropdown-link">Despre noi</a>
                                </li>
                                <li><a href="#" class="dropdown-link">Servicii</a>
                                </li>
                                <li><a href="#" class="dropdown-link">Proiecte imobiliare</a>
                                </li>
                                <li><a href="#" class="dropdown-link dropdown-link-last">Părerea voastră</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>