/* Fonts */
.mob-sidebar {
  display: none; }

.sort-list .active {
  color: #000; }

.home .input-group-head, .details-project .input-group-head, .contact-page .input-group-head {
  display: none; }

.card-service {
  position: relative; }

.full-size-link, .map-container .js-init-map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.map-container {
  width: 100%;
  height: 400px;
  position: relative; }

.more-projects {
  color: #8f164b; }

.distribution p {
  text-align: center; }

.input-mobile-wrapper {
  display: none; }

.filters-container .filter-list li.with-sub-menu .sub-menu {
  min-width: 100%; }

.social-button {
  border-radius: 6px; }

.filters-container .ta-c .filter-list .reset-search-form {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 30px;
  display: inline-block; }
.filters-container .ta-c .filter-list .submit-form {
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-family: "work_sansmedium";
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 10px;
  min-width: 80px;
  background: #fff;
  border: none; }
  .filters-container .ta-c .filter-list .submit-form:hover {
    background: #f4f4f4; }

.card-project {
  margin: 0 20px; }

.sort-container {
  padding-bottom: 40px; }
  .sort-container .pagination {
    margin: 0px;
    float: right; }
    .sort-container .pagination li {
      padding-left: 0px;
      padding-right: 0px;
      display: inline-block; }

.sort-list {
  list-style: none; }
  .sort-list li {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px; }
    .sort-list li span {
      display: block;
      padding-right: 5px;
      font-family: "work_sansmedium";
      color: #a351bb; }
    .sort-list li a {
      color: #727272;
      font-family: "work_sansregular"; }
      .sort-list li a.active {
        font-family: "work_sansmedium";
        color: #000000; }

.full-size-link, .map-container .js-init-map, .map-container .js-init-map {
  z-index: 1; }

.container-fluid {
  padding-left: 15px;
  padding-right: 15px; }

.filters-container .filter-list li:last-child {
  border-right: 0px; }

.more-projects {
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out; }
  .more-projects:hover {
    text-decoration: none;
    color: #fff;
    background: #8f164b; }

.not-founded {
  padding-bottom: 1px; }
  .not-founded .centered-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #9969b2;
    max-width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
    font-size: 36px; }

.filter-list-wrapper .address-input-container {
  padding: 0px; }
  .filter-list-wrapper .address-input-container input {
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px; }

.js-add-to-favorites {
  cursor: pointer;
  transition: color 0.3s ease-in-out; }
  .js-add-to-favorites.active i {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: red !important; }
    .js-add-to-favorites.active i:before {
      content: "\f004"; }
  .js-add-to-favorites:hover {
    text-decoration: none;
    color: #000 !important; }

.sort-list li a {
  cursor: pointer; }

.add-favorit.js-add-to-favorites.active {
  background: #983cb9 !important;
  color: #fff !important; }

.bg-light-grey {
  background: #f7f6f6; }

.add-shadow, .single-news-item, .news-item, .news-sidebar {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.24);
  -moz-box-shadow: 2px 2px 3px 0px rgba(8, 0, 50, 0.13);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.2); }

.clearfix:after, .single-news-item:after, .news-item:after, .sidebar-item:after {
  content: '';
  display: table;
  clear: both; }

.pt-40 {
  padding-top: 40px; }

.single-news-item {
  margin-bottom: 30px;
  /* Article styles */ }
  .single-news-item .news-thumbnail img {
    display: block;
    width: 100%;
    height: auto; }
  .single-news-item .news-content {
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px; }
    .single-news-item .news-content .title {
      font-size: 20px;
      color: black;
      font-weight: lighter;
      font-family: "work_sansregular"; }
    .single-news-item .news-content .news-description {
      color: #727272;
      margin-top: 20px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 27px; }
  .single-news-item .article-block h3 {
    margin: 20px 0; }
  .single-news-item .article-block img + h2,
  .single-news-item .article-block img + h3,
  .single-news-item .article-block img + h4,
  .single-news-item .article-block img + h5 {
    margin-top: 0; }
  .single-news-item .article-block .meta {
    display: block; }
  .single-news-item .article-block .meta-article {
    margin-bottom: 20px; }
  .single-news-item .article-block .img-container img {
    width: 100%; }
  .single-news-item article h4 {
    margin-top: 25px;
    margin-bottom: 15px; }
  .single-news-item article p {
    margin-bottom: 25px; }
  .single-news-item article ol {
    margin-bottom: 25px; }
  .single-news-item article ol li {
    margin-bottom: 10px; }
  .single-news-item article ul {
    margin-bottom: 25px; }
  .single-news-item article ul li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative; }
  .single-news-item article ul li:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #de3e3c;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 5px; }
  .single-news-item article img {
    width: 100%;
    margin-bottom: 25px; }
  .single-news-item article img + h2,
  .single-news-item article img + h3,
  .single-news-item article img + h4,
  .single-news-item article img + h5 {
    margin-top: 0; }
  .single-news-item article a {
    color: #de3e3c; }
  .single-news-item article .video-wrapper,
  .single-news-item article .su-youtobe,
  .single-news-item article .su-vimeo,
  .single-news-item article .su-dailymotion,
  .single-news-item article .su-screenr {
    margin-bottom: 30px; }
  .single-news-item article .aligncenter {
    text-align: center; }
  .single-news-item article .aligncenter a {
    display: inline-block; }
  .single-news-item article .aligncenter img {
    display: inline-block;
    width: auto; }
  .single-news-item article table th,
  .single-news-item article table td {
    padding: 5px; }

.news-item {
  margin-bottom: 20px; }
  .news-item .news-thumbnail {
    float: left;
    width: 210px; }
    .news-item .news-thumbnail img {
      display: block;
      width: 100%;
      height: initial;
      margin-left: 0px; }
  .news-item .news-content {
    padding-left: 230px;
    padding-right: 10px;
    padding-top: 29px;
    padding-bottom: 19px;
  }
  .news-item .title {
    font-size: 20px;
    color: black;
    font-weight: lighter;
    font-family: "work_sansregular"; }
    .news-item .title:hover {
      color: #9969b2;
      text-decoration: none; }
  .news-item .news-description {
    color: #727272;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 27px; }
  .news-item .button {
    margin-top: 10px;
    font-size: 16px;
    color: #8d2c5a; }
  .news-item .read-more {
    background-color: #8d2c5a;
    line-height: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 150px;
    color: #fff;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    .news-item .read-more:hover {
      background: #9969b2;
      text-decoration: none; }
    .news-item .read-more.orange {
      background-color: #e19642; }
    .news-item .read-moredark-red {
      background-color: #b54120; }
    .news-item .read-more.violet {
      background-color: #9503d1; }
    .news-item .read-more.brown {
      background-color: #b54120; }

.news-sidebar {
  background-color: #fff;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }
  .news-sidebar .sidebar-title {
    color: #545454;
    font-size: 21px;
    display: block;
    padding-top: 25px;
    padding-bottom: 20px; }

.sidebar-item {
  color: black;
  margin-bottom: 20px; }
  .sidebar-item .img-container {
    float: left; }
  .sidebar-item .title {
    font-size: 13px;
    color: black;
    font-weight: bold; }
  .sidebar-item .thumb-info {
    margin-left: 120px; }
  .sidebar-item .meta {
    margin-top: 10px;
    color: #bcbcbc; }

.sort-container.centered-pagination {
  text-align: center; }
  .sort-container.centered-pagination .pagination {
    float: none; }

.blog .bg-light-grey {
  padding-top: 40px; }

.project-item .title a {
  width: 55%; }

.project-item .title .phone {
  width: 45%; }

.successfully-sended-form {
  text-align: center;
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px; }

.contact-info .contact-details .mail:before {
  height: 50px;
  line-height: 37px; }

.contact-description .uploadbutton .button {
  cursor: default; }

.contact-description .uploadbutton .button:active {
  background: #fff; }

.contact-description .command .person .description {
  text-align: center; }

.post-content {
  padding-bottom: 300px;
  padding-top: 70px;
  background-image: url("../images/content-description-left.png"), url("../images/content-description-right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 50%, 100% 30%;
  /* Article styles */ }
  .post-content .post-content-description {
    font-size: 15px;
    line-height: 18px;
    font-family: "work_sansregular"; }
  .post-content .article-block h3 {
    margin: 20px 0; }
  .post-content .article-block img + h2,
  .post-content .article-block img + h3,
  .post-content .article-block img + h4,
  .post-content .article-block img + h5 {
    margin-top: 0; }
  .post-content .article-block .meta {
    display: block; }
  .post-content .article-block .meta-article {
    margin-bottom: 20px; }
  .post-content .article-block .img-container img {
    width: 100%; }
  .post-content article h1, .post-content article h2, .post-content article h3, .post-content article h4, .post-content article h5 {
    font-family: "work_sansbold";
    margin-bottom: 25px; }
  .post-content article p {
    margin-bottom: 25px; }
  .post-content article ol {
    margin-bottom: 25px; }
  .post-content article ol li {
    margin-bottom: 10px; }
  .post-content article ul {
    margin-bottom: 25px; }
  .post-content article ul li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative; }
  .post-content article ul li:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #de3e3c;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 5px; }

.estate-list .row .col-md-4:nth-child(3n + 1) {
  clear: both; }

.info-item-icon i.fa {
  font-size: 22px; }

.filters-container .ta-c .filter-list .filter-group-container .sub-menu.col-2 {
  min-width: 346px; }

.orange, .bg-orange {
  background-color: #f0c234;
  margin-top: 40px;
  margin-bottom: 40px; }

.form-row {
  /*padding-left: 169px;*/ }

.register-page-form {
  padding-top: 83px;
  padding-bottom: 40px; }

.col-md-9 {
  color: #ffffff; }

.pink-button {
  background-color: #4e205f;
  color: #ffffff;
  border: none;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  font-size: 17px;
  display: block;
  width: 100%;
  text-align: center; }

.register-page-form .form-row span {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  line-height: 17px;
  display: inline-block; }

.register-page-form .form-row .col-md-3 label, .register-page-form .form-row .col-md-2 label {
  text-align: right;
  display: block;
  line-height: 45px;
  font-size: 22px; }
  @media (max-width: 992px) {
    .register-page-form .form-row .col-md-3 label, .register-page-form .form-row .col-md-2 label {
      text-align: left; } }

.register-page-form .form-row input.form-input {
  display: block;
  max-width: 569px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: none;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000; }
  .register-page-form .form-row input.form-input:focus {
    outline: none;
    border: 2px solid #818181; }

.register-page-form .form-row {
  margin-bottom: 20px; }
  .register-page-form .form-row input[type="checkbox"] {
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    overflow: hidden; }
    .register-page-form .form-row input[type="checkbox"] + span {
      position: relative;
      padding-left: 26px;
      display: inline-block;
      font-size: 13px; }
      .register-page-form .form-row input[type="checkbox"] + span:before {
        position: absolute;
        left: 0px;
        top: 2px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: #bb2129;
        font-size: 19px;
        content: "\f096"; }
    .register-page-form .form-row input[type="checkbox"]:checked + span:before {
      content: "\f046"; }

.login-page .container-fluid {
  max-width: 1250px; }
.login-page .register-page-form {
  padding-left: 15px;
  padding-right: 112px; }

.go-to {
  font-size: 25px; }

.go-to-register-container {
  text-align: center;
  padding-top: 190px;
  padding-bottom: 190px;
  padding-left: 130px; }

.Adds-fat-content {
  font-size: 25px;
  font-weight: bold; }

.float-right {
  float: right;
  color: #e70000;
  text-decoration: underline; }

.m-t-35 {
  margin-top: 35px; }

.register-page-container .bg-orange {
  padding-top: 83px; }
.register-page-container .register-page {
  padding-top: 1px; }
.register-page-container .register-page-form {
  padding-top: 0px; }
.register-page-container .pink-button {
  background-color: #4e205f;
  color: #ffffff;
  border: none;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  font-size: 17px;
  display: block;
  width: 100%;
  text-align: center;
  max-width: 400px; }
  .register-page-container .pink-button:focus {
    outline: none; }
.register-page-container .error-block {
  padding-top: 15px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px; }

.login-page-container .register-page-form {
  padding-right: 3vw;
  padding-top: 0px; }
  .login-page-container .register-page-form .float-right {
    margin-right: 29px; }
  .login-page-container .register-page-form .pink-button {
    max-width: 569px; }
.login-page-container .bg-orange {
  padding-top: 1px;
  padding-top: 53px; }
.login-page-container .error-block {
  margin-top: 15px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

.pink-button:hover, .pink-button:focus {
  color: #fff8e5;
  opacity: 0.95;
  text-decoration: none; }

/* line 1343, ../../scss/app.scss */
.main-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  z-index: 9999;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .6s;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25); }

/* line 1356, ../../scss/app.scss */
.pdd-body {
  margin-bottom: 84px; }

.profile-option .tabs-content .estate-item {
  text-align: left; }
  .profile-option .tabs-content .estate-item img {
    margin-bottom: 0px; }
  .profile-option .tabs-content .estate-item .price {
    margin: 0px; }
  .profile-option .tabs-content .estate-item .title {
    margin-bottom: 20px; }
  .profile-option .tabs-content .estate-item .address {
    text-align: left; }

/* line 195, ../../scss/app.scss */
.section-title.pink {
  background: #9969b2; }

/* line 198, ../../scss/app.scss */
.section-title.violet {
  background: #623e68; }

/* line 201, ../../scss/app.scss */
.section-title.dark-violet {
  background: #892c58; }

.grid .masonry-field-item img {
  max-width: 100%; }

.banners-container {
  padding-bottom: 50px; }

.bg-gray {
  background: #f9f9f9; }

.page-template-template-services .service > .section-title {
  margin-bottom: 0px; }

.page-template-template-promote-yourself .main-form-wrapper {
  padding: 20px; }

.page-template-template-promote-yourself .main-form-wrapper h3 {
  text-align: center;
  font-size: 27px;
  color: #c71061; }

.page-template-template-promote-yourself .main-form-wrapper p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
  color: #999; }

@media (max-width: 768px) {
  .profile-option .tabs-content {
    padding: 20px; }

  .profile-option .tabs a {
    padding: 10px 7px;
    font-size: 14px; }

  .estate-item .footer .favorite {
    float: none;
    display: block;
    padding: 7px 10px;
    margin-bottom: 0px; } }
.edit-password-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }
  .edit-password-form .input-container {
    margin-bottom: 20px; }

.error-block.alert:empty {
  display: none; }

.success-form .alert-danger {
  background-image: -webkit-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }

.main-nav li a,
.header-menu-dropdown .dropdown-link,
.header-menu .dropdown-item {
  font-family: "work_sansmedium"; }

.main-nav li a.icon-inimacasa-01 {
  font-weight: bold;
  font-size: 16px; }

/*# sourceMappingURL=developer.css.map */
/* line 1377, ../../scss/app.scss */
#modal-form-window {
  max-width: 900px !important;
  height: 500px !important;
  text-align: center;
    visibility: hidden;
}
/* line 1382, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form {
  height: 500px;
  background: url("../images/bg-form-1.png") no-repeat;
  background-size: 100%;
  background-position-y: 232px;
}
/* line 1387, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .modal-form {
  margin-top: -50px;
}
/* line 1390, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .title {
  background: #f2d2e2;
  padding: 72px;
}
/* line 1394, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .title p {
  margin-bottom: 0px;
  font-size: 25px;
  font-family: "work_sansregular";
  color: #000;
}
/* line 1400, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-left: -5px;
}
/* line 1406, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container span {
  font-size: 30px;
  font-family: "work_sansregular";
  color: #fff;
  position: absolute;
  top: 35px;
  right: 40px;
}
/* line 1414, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
/* line 1420, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio + label {
  cursor: pointer;
}
/* line 1423, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) {
  position: absolute;
  opacity: 0;
}
/* line 1427, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
/* line 1431, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) + .bg-color-1:before {
  background: #5d256b;
}
/* line 1434, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) + .bg-color-2:before {
  background: #f06699;
}
/* line 1437, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) + .bg-color-3:before {
  background: #e9bb61;
}
/* line 1440, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) + .bg-color-4:before {
  background: #c371ae;
}
/* line 1443, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) + .bg-color-5:before {
  background: #bd1d7c;
}
/* line 1446, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -13px;
  left: -27px;
  width: 100px;
  height: 100px;
  background: #e9bb61;
}
/* line 1455, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -13px;
  left: -27px;
  width: 100px;
  height: 100px;
  background: rgba(150, 38, 42, 0.36);
  opacity: 0;
  transition: all .2s;
}
/* line 1466, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:checked + label:after {
  opacity: 1;
}
/* line 1469, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .radio-container .radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
}
/* line 1474, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form form input {
  width: 100%;
  border: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  resize: none;
}
/* line 1485, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* line 1503, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating {
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
}
/* line 1508, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating .img-container img {
  width: 90px;
  margin: 0 auto;
}
/* line 1513, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating .gray-letter {
  margin-top: 10px;
}
/* line 1515, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating .gray-letter p {
  font-size: 25px;
  font-family: "work_sansregular";
  color: #fff;
}
/* line 1521, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating .result {
  display: none;
}
/* line 1524, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating .result-2 {
  display: none;
}
/* line 1527, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating .result-3 {
  display: none;
}
/* line 1530, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating .result-4 {
  display: none;
}
/* line 1533, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .first-form .result-rating .result-5 {
  display: none;
}
/* line 1538, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form {
  height: 500px;
  background: url("../images/bg-form-2.png") no-repeat;
  background-size: 200%;
  background-position-y: 232px;
}
/* line 1543, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .modal-form {
  margin-top: 50px;
  margin-left: 50px;
}
/* line 1547, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .title {
  background: #531979;
  padding: 101px;
}
/* line 1551, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .title p {
  margin-bottom: 0px;
  font-size: 25px;
  font-family: "work_sansregular";
  color: #fff;
}
/* line 1557, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container {
  position: relative;
  width: 330px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
}
/* line 1563, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container span {
  font-size: 25px;
  font-family: "work_sansregular";
  color: #fff;
}
/* line 1568, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container .radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
/* line 1574, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container .radio + label {
  cursor: pointer;
}
/* line 1577, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container .radio:not(checked) {
  position: absolute;
  opacity: 0;
}
/* line 1581, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container .radio:not(checked) + label {
  position: relative;
  padding: 19px 0 0 35px;
}
/* line 1586, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container .radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 3px solid #fff;
}
/* line 1595, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container .radio:not(checked) + label:after {
  content: "\f00c";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  color: #fff;
  opacity: 0;
  transition: all .2s;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 1612, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container .radio:checked + label:after {
  opacity: 1;
}
/* line 1615, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .radio-container .radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
}
/* line 1620, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form form input {
  width: 100%;
  border: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  resize: none;
}
/* line 1631, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .second-form .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* line 1650, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form {
  height: 500px;
  background: url("../images/bg-form-2.png") no-repeat;
  background-size: 200%;
  background-position-y: 232px;
}
/* line 1655, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .modal-form {
  margin-top: 50px;
  margin-left: 50px;
}
/* line 1659, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .title {
  background: #531979;
  padding: 101px;
}
/* line 1663, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .title p {
  margin-bottom: 0px;
  font-size: 25px;
  font-family: "work_sansregular";
  color: #fff;
}
/* line 1669, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container {
  display: inline-block;
  position: relative;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
}
/* line 1676, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container span {
  position: absolute;
  top: 65px;
  left: 50px;
  font-size: 25px;
  font-family: "work_sansregular";
  color: #fff;
}
/* line 1684, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .pos-left {
  left: 30px;
}
/* line 1687, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
/* line 1693, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .radio + label {
  cursor: pointer;
}
/* line 1696, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .radio:not(checked) {
  position: absolute;
  opacity: 0;
}
/* line 1700, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .radio:not(checked) + label {
  position: relative;
  padding: 19px 0 0 35px;
}
/* line 1705, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  background: #c6c6c6;
  border-radius: 50%;
}
/* line 1715, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .radio:not(checked) + label:after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  color: #fff;
  opacity: 0;
  transition: all .2s;
  border: 10px solid #fff;
  border-radius: 50%;
}
/* line 1728, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .orange-col:not(checked) + label:after {
  background: #f0ad26;
}
/* line 1731, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .violet-col:not(checked) + label:after {
  background: #782a95;
}
/* line 1734, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .pink-col:not(checked) + label:after {
  background: #f27ae0;
}
/* line 1737, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .radio:checked + label:after {
  opacity: 1;
}
/* line 1740, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .radio-container .radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
}
/* line 1745, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form form input {
  width: 100%;
  border: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  resize: none;
}
/* line 1756, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .third-form .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* line 1775, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form {
  height: 500px;
  background: url("../images/bg-form-2.png") no-repeat;
  background-size: 200%;
  background-position-y: 232px;
}
/* line 1780, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .modal-form {
  margin-top: 40px;
}
/* line 1783, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .title {
  background: #531979;
  padding: 101px;
}
/* line 1787, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .title p {
  margin-bottom: 0px;
  font-size: 25px;
  font-family: "work_sansregular";
  color: #fff;
}
/* line 1793, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container {
  position: relative;
  margin-bottom: 10px;
  margin-left: 125px;
  text-align: left;
}
/* line 1798, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container span {
  font-size: 25px;
  font-family: "work_sansregular";
  color: #fff;
}
/* line 1803, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container .radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
/* line 1809, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container .radio + label {
  cursor: pointer;
}
/* line 1812, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container .radio:not(checked) {
  position: absolute;
  opacity: 0;
}
/* line 1816, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container .radio:not(checked) + label {
  position: relative;
  padding: 19px 0 0 35px;
}
/* line 1821, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container .radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 3px solid #fff;
}
/* line 1830, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container .radio:not(checked) + label:after {
  content: "\f00c";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  color: #fff;
  opacity: 0;
  transition: all .2s;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 1847, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container .radio:checked + label:after {
  opacity: 1;
}
/* line 1850, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .radio-container .radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
}
/* line 1855, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form form input {
  width: 100%;
  border: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  resize: none;
}
/* line 1866, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* line 1884, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .btn-container {
  width: 515px;
  margin-top: 10px;
  margin-left: 125px;
}
/* line 1889, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .alt {
  width: 250px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  background: #fff;
  font-size: 23px;
  color: #838383;
  text-align: left;
  border: 2px solid #361f5b;
  letter-spacing: 1px;
}
/* line 1902, ../../scss/app.scss */
#modal-form-window .main-form-wrapper .last-form .btn-subm {
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #531979;
  font-size: 23px;
  color: #fff;
  border: 2px solid #531979;
  letter-spacing: 1px;
}

/* line 1915, ../../scss/app.scss */
.result-vis {
  display: block !important;
}

/* line 1918, ../../scss/app.scss */
.slick-slider {
  overflow: hidden;
}

/* line 1921, ../../scss/app.scss */
.slick-arrow {
  width: 124px;
  height: 128px;
}

/* line 1925, ../../scss/app.scss */
.slick-prev {
  left: -52px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  visibility: hidden;
}
/* line 1931, ../../scss/app.scss */
.slick-prev:before {
  right: 25px;
  background: url(..//images/sageata-left.png) no-repeat;
  background-size: 28px;
}

/* line 1937, ../../scss/app.scss */
.slick-next {
  right: -52px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: .6s ease a;
}
/* line 1943, ../../scss/app.scss */
.slick-next:before {
  left: 35px;
  background: url(..//images/sageata-right.png) no-repeat;
  background-size: 28px;
}

/* line 1949, ../../scss/app.scss */
.slick-prev, .slick-next {
  top: 65%;
  background: #f4dd7f;
  z-index: 9999;
}
/* line 1953, ../../scss/app.scss */
.slick-prev:before, .slick-next:before {
  content: "";
  position: absolute;
  top: 35px;
  width: 35px;
  height: 66px;
}

/* line 1961, ../../scss/app.scss */
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: #e2cd76;
}

/* line 1964, ../../scss/app.scss */
.card-service {
  transition: all 200ms ease-in;
}

/* line 1967, ../../scss/app.scss */
.mob-sidebar.mob-sidebar-opened {
  display: block;
}
.address-input-container input[type="text"]::-webkit-input-placeholder {
    color: #000000;
    font-family: "work_sansmedium";
}
.sub-menu-full-width {
    max-width: 199px !important;
}
@media only screen and (max-width: 1125px) {
    .main-nav li{
        margin-left: 5px;
    }
    .sub-menu-full-width {
        max-width: 114px !important;
        border-right: 1px solid #c5c3c3 !important;
    }
}
@media only screen and (max-width: 991px) {
  /* line 121, ../../scss/_media.scss */
  .home .main-headline {
    padding-top: 100px;
  }

  /* line 124, ../../scss/_media.scss */
  .mob-hide {
    display: none;
  }

  /* line 127, ../../scss/_media.scss */
  .main-header .mob-menu-icon {
    display: block;
  }

  /* line 131, ../../scss/_media.scss */
  .footer-info:nth-child(2n+2) {
    clear: both;
  }

  /* line 135, ../../scss/_media.scss */
  body .footer .footer-bottom p {
    padding: 0 20px;
    line-height: 20px;
  }

  /* line 142, ../../scss/_media.scss */
  .home .main-filter .filters-container .filter-list {
    background: transparent;
  }
  /* line 144, ../../scss/_media.scss */
  .home .main-filter .filters-container .filter-list li.sub-menu-mobile {
    display: none;
  }

  /* line 152, ../../scss/_media.scss */
  .sub-menu-full-width {
    width: 100%;
    max-width: 100% !important;
    margin-bottom: 15px;
  }

    .address-input-container input[type="text"]::-webkit-input-placeholder {
        color: #000000;
    }
    .sub-menu-full-width input{
        display: block;
        text-align: center;
        font-size: 14px;
        color: #000000;
        font-family: "work_sansmedium";
        line-height: 24px;
        padding-top: 12px;
        padding-bottom: 10px;
        width: 100%;
    }

  /* line 157, ../../scss/_media.scss */
  .chosen-container-single .chosen-single {
    border-radius: 0;
    height: 38px;
    padding: 7px 0 0 8px;
  }

  /* line 162, ../../scss/_media.scss */
  .main-filter .chosen-container-single .chosen-single div b:before {
    top: 7px !important;
  }

  /* line 165, ../../scss/_media.scss */
  .sub-menu-bg {
    background: #fff;
    width: 60%;
    float: right;
  }

  /* line 170, ../../scss/_media.scss */
  .button-desctop {
    display: none !important;
  }

  /* line 175, ../../scss/_media.scss */
  .main-container .main-filter .filter-search {
    width: 100%;
  }
  /* line 180, ../../scss/_media.scss */
  .main-container .main-filter .filters-container .filter-list li.with-sub-menu > span:after {
    position: absolute;
    top: 12px;
    right: 10px;
  }
  /* line 185, ../../scss/_media.scss */
  .main-container .main-filter .filters-container .filter-list li {
    max-width: 100%;
  }
  /* line 190, ../../scss/_media.scss */
  .main-container .main-filter .filters-container .filter-list-wrapper {
    display: block;
    margin-top: 75px;
  }
  /* line 196, ../../scss/_media.scss */
  .main-container .main-filter .button-mobile {
    display: block !important;
  }
  /* line 200, ../../scss/_media.scss */
  .main-container .sub-menu-desctop {
    display: none !important;
  }
  /* line 203, ../../scss/_media.scss */
  .main-container .sub-menu-mobile-show {
    width: 38%;
  }

  /* line 207, ../../scss/_media.scss */
  .pagination-container, .sort-list {
    text-align: center !important;
  }
    .register-page-form .form-row input.form-input{
        margin: 0 auto;
    }
    .register-page-form .form-row .col-md-2 label {
        max-width: 569px;
        margin: 0 auto;
    }
    .login-page-container .register-page-form {
        padding-right: 4vw;
        padding-top: 0px;
        padding-left: 4vw;
    }
    .login-page-container .register-page-form .pink-button{
        margin: 0 auto;
    }
    .login-checkbox{
        max-width: 569px;
        margin: 0 auto;
    }
    .login-page-container .register-page-form .float-right{
        margin-right: 0px;
    }
    .go-to-register-container {
        text-align: center;
        padding-top: 4vw;
        padding-bottom: 10vh;
        padding-left: 0;
        padding-right: 0;
    }
}
.navbar-menu-overlay{
    background: rgba(0, 0, 0, 0.68)
}
@media only screen and (max-width: 1200px) {
    /* line 40, ../../scss/_media.scss */
    .service-img img {
        width: 100%;
        height: 414px !important;
    }

    /* line 44, ../../scss/_media.scss */
    .bg-promote {
        height: inherit !important;
        background: none !important;
    }

    /* line 48, ../../scss/_media.scss */
    .promo-description {
        position: inherit !important;
        width: inherit !important;
        top: inherit !important;
        text-align: inherit !important;
    }

    /* line 55, ../../scss/_media.scss */
    .promote-block-title .item-1 {
        top: inherit !important;
    }
    /* line 58, ../../scss/_media.scss */
    .promote-block-title .item-2 {
        bottom: inherit !important;
    }
    /* line 61, ../../scss/_media.scss */
    .promote-block-title .item-3 {
        top: inherit !important;
        right: inherit !important;
    }
    /* line 65, ../../scss/_media.scss */
    .promote-block-title .item-4 {
        bottom: inherit !important;
        right: inherit !important;
    }

    /* line 70, ../../scss/_media.scss */
    .card-pachete {
        width: 191px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .project-item .footer .details{
        margin-left: 0px;
    }
    .filters-container .filter-list li{
        display: block;
    }
    .ta-c li.with-sub-menu{
        border: 0;
    }
    .filters-container .ta-c .filter-list .js-open-more-filters{
        border: 0;
    }
    .filters-container .filter-list li:last-child{
        text-align: center;
    }
    .js-autocomplete-address::-webkit-input-placeholder {
        color: #000000;
        font-family: "work_sansmedium";
    }
    .filters-container .filter-list li .input-container input[type="text"]{
        min-width: 100%;
        height: 40px;
        line-height: 18px;
        padding-left: 10px;
        background: #fff;
        display: block;
        border: 1px solid #7a677d;
        font-size: 14px;
        color: #000000;
        font-family: "work_sansmedium";
        text-align: center;

    }
    .filters-container .filter-list li.with-sub-menu{
        border-right: 1px solid #c5c3c3;
    }
    .filters-container .filter-list li.with-sub-menu:hover .sub-menu{
        display: none;
    }
    .show-sub-menus .sub-menu{
        display: block !important;
    }
    .home .filters-container .filter-list li{
        display: inline-block;
    }
    .home .filters-container .filter-list li:last-child{
        border: 1px solid #c71061;
    }
    .home .main-filter .filter-search{
        padding: 10px 24px 8px 39px;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1201px){
    .grid{
        width: 903px;
    }
}

@media only screen and (min-width: 1200px) {
    /* line 5, ../../scss/_media.scss */
    .costuri {
        width: 392px;
        margin-top: 0px;
    }
    /* line 8, ../../scss/_media.scss */
    .costuri img {
        margin: 0 auto;
    }

    /* line 12, ../../scss/_media.scss */
    .calitatea {
        margin-top: 55px;
        left: 0px !important;
    }

    /* line 16, ../../scss/_media.scss */
    .siguranta {
        left: 460px !important;
        top: 725px !important;
    }

    /* line 20, ../../scss/_media.scss */
    .invest {
        top: 940px !important;
        right: 0;
        text-align: -webkit-right;
    }

    /* line 25, ../../scss/_media.scss */
    .poveste {
        top: 1075px !important;
        left: -10px !important;
    }

    /* line 29, ../../scss/_media.scss */
    .show-modern {
        left: 250px !important;
    }

    /* line 32, ../../scss/_media.scss */
    .grid {
        max-width: 1201px;
        margin: auto;
        list-style: none;
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    /* line 214, ../../scss/_media.scss */
    .card-service-wrapper {
        width: 80%;
        margin: 0 auto;
    }

    /* line 218, ../../scss/_media.scss */
    .service-block-title hr {
        padding-bottom: 60px;
        margin-bottom: 0px !important;
    }

    /* line 222, ../../scss/_media.scss */
    .service-img img {
        width: 100%;
        height: auto !important;
    }
    .bg-gray{
        margin-top: 10px;
    }
    .bg-gray  .col-sm-5{
        padding-left: 0;
        padding-right: 0;
    }
    .filters-container .filter-list li{
        border: 0;
    }
    .filters-container .filter-list li.with-sub-menu{
        border-right: 0px solid #c5c3c3;
    }
}
@media only screen and (max-width: 668px) {
    /* line 228, ../../scss/_media.scss */
    .grid li img {
        max-width: 100%;
        margin: auto;
    }

    /* line 232, ../../scss/_media.scss */
    .grid li {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .service-block-title hr{
        width: 100%;
    }
    /* line 237, ../../scss/_media.scss */
    .contact .main-form-wrapper .go-right .btn-default {
        padding: 6px 25px;
    }

    /* line 240, ../../scss/_media.scss */
    .promo-title-special h3 {
        font-size: 30px !important;
    }

    /* line 243, ../../scss/_media.scss */
    .promo-title-special p {
        font-size: 15px !important;
    }
    .news-item .news-thumbnail {
        float: inherit;
        width: 100%;
    }
    .news-item .news-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 29px;
        padding-bottom: 19px;
        width: 100%;
        display: block;
    }
    .project-item .footer .details{
        width: 100%;
    }
    .project-item .footer .favorite{
        display: block;
        width: 100%;
        float: inherit;
        margin-top: 10px;
        text-align: center;
    }
    .filters-container .ta-c .filter-list .filter-group-container .sub-menu{
        min-width: 280px;
    }
    .filters-container .ta-c .filter-list .filter-group-container .sub-menu.col-2{
        min-width: 280px;
        left: 0;
        right: 0;
    }
    .filters-container .ta-c .filter-list .filter-group-container .sub-menu.col-2 .filter-group{
        text-align: left;
    }
    .filters-container .ta-c .filter-list .filter-group-container .sub-menu .filter-group-list li{
        display: block;
    }
    .filters-container .ta-c .filter-list .filter-group-container .sub-menu .filter-group-list li:nth-child(3) .content{
        margin: 15px;
        text-align: left;
    }
    .filters-container .ta-c .filter-list .filter-group-container .sub-menu .filter-group-list li:nth-child(3) .content div{
        margin-top: 15px;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    /* line 251, ../../scss/_media.scss */
    .header-top .partners-description {
        font-size: 13px;
    }
}
.grid {
    margin: auto;
    margin-bottom: 100px;
    list-style: none;
    padding: 0;
}
.main-nav li a{
  font-family:'work_sansmedium';
}
.header-menu .dropdown-item{
  font-family:'work_sansmedium';
}
.main-nav .dropdown-block {
  width: 20px;
  height: 20px;
}
.main-nav .dropdown-block a:before{
  font-size: 20px;
  vertical-align: middle;
  font-weight: 600;
  position: absolute;
  top: 4px;
}
.logged-in .main-nav {
  margin-top: 6px;
}
.main-filter .filter-search{
  margin-right: -1px;
}
.service-wrapper{
  padding-bottom: 85px;
}
.page-template-template-services .service > .section-title{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  color: #585151;
  line-height: 25px;
  font-family: 'work_sansregular';
}
footer h5{
  font-family:'work_sansmedium';
  text-transform: uppercase;
}
.footer-logo{
  margin-top: -15px;
}
.contact-info .contact-details h5{
  font-weight: 600;
}
.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}
.blog .section-title{
  background-color: #f0c234;
}
.float-left{
  display: block;
  margin-top: px;
  color: #e70000;
  text-decoration: underline;
}
.question-block-title{
  margin-top: 60px;
  font-family:'work_sansmedium';
}
.question-block-title p{
  padding: 17px 20px;
  padding-bottom: 5px;
}
.project-item .address a{
  visibility: hidden;
}
.contact-about p{
  font-family:'work_sansmedium';
}
.contact-about span{
  font-family:'work_sansmedium';
}
.single-teren .contact-phone{
  margin-top: 0px;
}
.single-commercial_spaces .contact-phone{
  margin-top: 0px;
}
.info-item-icon{
  width: 30px;
  margin-right: 15px;
}