{% extends 'base.twig' %}
{% block content %}
    <section class="question-wrapper">
        <h3 class="section-title dark-violet">De ce case și apartamente noi?</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="question-block-title">
                        <p>In prezent societatea este intr-un progres rapid pe toate planurile, unul dintre acestea bazându-se pe dorința omului de a se stabili într-un loc pe care să îl numească „acasa”. În acest sens investitorii sunt în plin proces
                            de dezvoltate a comunității și construcții noi apar de la cele mai centrale zone pana în zonele limitrofe ale orașelor, devenind o alegere din ce în ce mai populară în rândul cumpărătorilor datorită avantajelor pe care
                            le prezintă.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <ul class="grid">
                    <li class="show">
                        <a href="#">
                            <img src="images/inceput-front.png" class="hide-info" />
                            <img src="images/inceput-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show-modern">
                        <a href="#">
                            <img src="images/modern-front.png" class="hide-info" />
                            <img src="images/modern-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show">
                        <a href="#">
                            <img src="images/oferte-front.png" class="hide-info" />
                            <img src="images/oferte-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show">
                        <a href="#">
                            <img src="images/functional-front.png" class="hide-info" />
                            <img src="images/functional-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show costuri">
                        <a href="#">
                            <img src="images/costuri-front.png" class="hide-info" />
                            <img src="images/costul-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show">
                        <a href="#">
                            <img src="images/constructile-front.png" class="hide-info" />
                            <img src="images/constructile-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show calitatea">
                        <a href="#">
                            <img src="images/calitatea-front.png" class="hide-info" />
                            <img src="images/calitatea-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show siguranta">
                        <a href="#">
                            <img src="images/siguranta-front.png" class="hide-info" />
                            <img src="images/siguranta-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show invest">
                        <a href="#">
                            <img src="images/investitie-front.png" class="hide-info" />
                            <img src="images/investitie-spate.png" class="show-info" />
                        </a>
                    </li>
                    <li class="show poveste">
                        <a href="#">
                            <img src="images/poveste-front.png" class="hide-info" />
                            <img src="images/poveste-spate.png" class="show-info" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {% include 'partials/sections/subscribe-form.twig' %}
{% endblock %}