<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <a href="#">
                    <div class="footer-logo"></div>
                </a>
            </div>
            <div class="col-md-2 col-xs-6 footer-info">
                <div class="footer-headline">
                    <h5>URMĂREŞTE-NE</h5>
                </div>
                <div class="footer-content"><a href="#">Facebook</a><a href="#">Pinterest</a><a href="#">Linkedin</a><a
                            href="#">Youtube</a>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 footer-info">
                <div class="footer-headline">
                    <h5>DESPRE NOI</h5>
                </div>
                <div class="footer-content"><a href="#">Ştiri</a><a href="#">De ce case noi?</a><a href="#">Ghidul
                        cumpărătorului</a>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 footer-info">
                <div class="footer-headline">
                    <h5>TERMENI DE FOLOSIRE</h5>
                </div>
                <div class="footer-content"><a href="#">Confidenţialitate</a><a href="#">Contactaţi-ne</a><a
                            href="#">Contactaţi-ne</a>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 footer-info">
                <div class="footer-headline">
                    <h5>TERMENI DE FOLOSIRE</h5>
                </div>
                <div class="footer-content"><a href="#">Design de interior</a><a href="#">Arhitectură</a><a
                            href="#">Cadastru</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="com-sm-12">
                <p>Pentru informaţii detaliate despre celelalte programe cofinanţate de Uniunea Europeană,
                    vă invităm să vizitaţi <a href="#">www.fonduri-ue.ro</a> Conţinutul acestui material nu
                    reprezintă în mod obligatoriu poziţia oficială a Uniunii
                    Europene sau a Guvernului României</p>
            </div>
        </div>
    </div>
</div>
<a href="http://localhost:9080/widget/demopage?widget=venyoo" class="hidden">
    widget link
</a>
{#<script type="text/javascript" src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=6099206101794816"></script>#}

{#<script type="text/javascript" src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=4894705860739072"></script>#}

{#<script type="text/javascript" src="//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=6743738779697152"></script>#}

