{% extends 'base.twig' %}
{% block content %}
    <section class="profile-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="profile-option">
                        <div class="tabs">
                            {% include 'partials/account/menu.twig' with {'active': 'favorite'} %}
                        </div>
                        <div class="tabs-content">
                            {% if posts is not empty %}
                                <div class="row">
                                    {% for post in posts %}
                                        {% include 'partials/estate-teaser.twig' %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <h4>Anunturile tale favorite</h4>
                                <img src="{{ theme.link }}/assets/images/favorite.png"/>
                                <p>Nu ai niciun anunt favorit in aceasta lista</p>
                                <p>Cauta printre proprietatile disponibile pe Vreicasa.ro si salveaza pe cele care iti
                                    place</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/sections/subscribe-form.twig' %}
{% endblock %}