
// Colors
$general-border-color: #c5c3c3;
$light-pink: #c71061;
$pink: #9969b2;
$vinous: #8f164b;
$purple: #400d4a;
$purple-light: #983cb9;
$blue: #6046fc;
$white: #fff;
$red: #a4071d;
$gray: #272525;
$light-gray: #f8f8f8;
$dark-gray: #191919;
$dark: #000;





/* Fonts */
$robotoBold: 'roboto_slabbold';
$robotoLight: 'roboto_slablight';
$roboto: 'roboto_slabregular';
$robotoThin: 'roboto_slabthin';
$workSansblack: 'work_sansblack';
$workSansbold: 'work_sansbold';
$workSansExtraBold: 'work_sansextrabold';
$workSansExtraLight: 'work_sansextralight';
$workSansLight: 'work_sanslight';
$workSansMedium: 'work_sansmedium';
$workSans: 'work_sansregular';
$workSansSemiBold: 'work_sanssemibold';
$montserratBold: 'montserratbold';
$montserrat: 'montserratregular';
$arial: 'arialregular';
$arialBold: 'arialbold';
$arialBoldItalic: 'arialbold_italic';
$arialItalic: 'arialitalic';
$arialBlack: 'arialblack';
$icomon: 'icomoon';
$fontawesome: normal normal normal 14px/1 FontAwesome;


