@media only screen and (max-width : 1200px) {

}
@media only screen and (min-width : 1200px) {
  .costuri{
    width: 392px;
    margin-top: 30px;
    img{
      margin: 0 auto;
    }
  }
  .calitatea{
    margin-top: 21px;
    left: 0px !important;
  }
  .siguranta{
    left: 460px !important;
    top: 725px !important;
  }
  .invest{
    top: 940px !important;
    right: 0;
    text-align: -webkit-right;
  }
  .poveste{
    top: 1075px !important;
    left: -10px !important;
  }
  .show-modern{
    left: 250px !important;
  }
  .grid {
    max-width: 1201px;
    margin:auto;
    list-style: none;
    padding: 0;
  }
}
@media only screen and (max-width : 1200px) {
  .service-img img {
    width: 100%;
    height: 414px !important;
  }
  .bg-promote{
    height: inherit !important;
    background: none !important;
  }
  .promo-description{
    position: inherit !important;
    width: inherit !important;
    top: inherit !important;
    text-align: inherit!important;
  }
  .promote-block-title{
    .item-1{
      top: inherit !important;
    }
    .item-2{
      bottom: inherit !important;
    }
    .item-3{
      top: inherit !important;
      right: inherit !important;
    }
    .item-4{
      bottom: inherit !important;
      right:inherit !important;
    }
  }
  .card-pachete {
    width: 191px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {
  .contact-row {
    .contact-description,.contact-phone,.tr {
      text-align: center;
    }
    .add-favorit-wrapper {
      border: none;
    }
  }
  .contact-description .command {
    margin-top: 50px;
    .person {
      margin-top: 30px;
      .contact-about {
        text-align: center !important;
      }
    }
  }
  .contact-info .contact-details {
    max-width: 300px;
    margin: 0 auto;
    &:first-child {
      margin-top: 40px !important;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer .footer-logo {
    display: none;
  }
  .contact-about {
    text-align: center !important;
  }

}

@media only screen and (max-width : 991px) {
  .home-page .main-headline {
    padding-top: 100px;
  }
  .mob-hide {
    display: none;
  }
  .main-header .mob-menu-icon {
    display: block;
  }
  .footer-info {
    &:nth-child(2n+2) {
      clear: both;
    }
  }
  body .footer .footer-bottom p {
    padding: 0 20px;
    line-height: 20px;
  }
  .home-page {
    .main-filter {
      .filters-container {
        .filter-list{
          background: transparent;
          li.sub-menu-mobile {
            display: none;
          }
        }
      }

    }
  }
  .sub-menu-full-width {
    width: 100%;
    max-width: 100% !important;
    margin-bottom: 15px;
  }
  .chosen-container-single .chosen-single {
    border-radius: 0;
    height: 38px;
    padding: 7px 0 0 8px;
  }
  .main-filter .chosen-container-single .chosen-single div b:before {
    top: 7px !important;
  }
  .sub-menu-bg {
    background: #fff;
    width: 60%;
    float: right;
  }
  .button-desctop {
    display: none !important;
  }
  .main-container{
    .main-filter {
      .filter-search {
        width: 100%;
      }
      .filters-container {
        .filter-list {
          li.with-sub-menu>span:after {
            position: absolute;
            top: 12px;
            right: 10px;
          }
          li {
            max-width: 100%;
          }
        }

        .filter-list-wrapper {
          display: block;
          margin-top: 75px;
        }

      }
      .button-mobile {
        display: block !important ;
      }
    }
    .sub-menu-desctop {
      display: none !important;
    }
    .sub-menu-mobile-show {
      width: 38%;
    }
  }
  .pagination-container, .sort-list {
    text-align: center !important;
  }

}

@media only screen and (max-width : 768px) {
  .card-service-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .service-block-title hr {
    padding-bottom: 60px;
    margin-bottom: 0px !important;
  }
  .service-img img {
    width: 100%;
    height: auto !important;
  }
}
@media only screen and (max-width : 668px) {
  .grid li img {
    max-width: 100%;
    margin: auto;
  }
  .grid li {
    width: 100%;
  }
}
@media only screen and (max-width : 480px){
  .contact .main-form-wrapper .go-right .btn-default {
    padding: 6px 25px;
  }
  .promo-title-special h3{
    font-size:30px !important;
  }
  .promo-title-special p{
    font-size: 15px !important;
  }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .header-top .partners-description {
    font-size: 13px;
  }
}
