$mobiledown: 0px 425px;
$mobile: 0px 767px;
$mobileup: min-width 768px;
$tablet: 768px 1024px;
$tabletlgdown: max-width 959px;
$tabletup: min-width 760px;
$desktop: min-width 1025px;
$desktopdown: max-width 1024px;
$desktoplg: min-width 1361px;
$desktoplgdown: max-width 1360px;
$desktopextradown: max-width 1400px;
$extralarge: min-width 1920px;

