@import "home-page";
@import "init";
@import "mixins";

html {
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
}


body {
  font-size: 14px;
  line-height: 1.2;
  background-color: #fff;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-container {
  &.vertical {
    ul {
      li {
        display: block;
      }
    }
  }
  ul {
    padding-left: 0;
    list-style: none;
    font-size: 0;
    li {
      display: inline-block;
      a {
        font-size: 12px;
      }
    }
    margin-bottom: 0%;
  }
}

.light-blue {
  color: #3498db;
}

.white {
  color: #fff;
}

.text-black {
  color: #333333;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.fl-right {
  float: right;
}

.fl-left {
  float: left;
}

.fs-12 {
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-18 {
  font-size: 18px;
}

.img-container {
  display: block;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.p-no {
  padding: 0;
}
.pr-xs {
  padding-right: 7px;
}

.pb-xs {
  padding-bottom: 7px;
}

.pb-md {
  padding-bottom: 15px;
}

.mt-lg {
  margin-top: 25px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-md {
  margin-bottom: 20px;
}

.mb-sm {
  margin-bottom: 15px;
}

.mb-lg {
  margin-bottom: 25px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-xl {
  margin-left: 10px;
}

.mb-xs {
  margin-bottom: 5px;
}

.mb-zero {
  margin-bottom: 0;
}

.mt-md {
  margin-top: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-title {
  font-size: 26px;
  font-family: $roboto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  line-height: 24px;
  &.pink {
    background: $pink;
  }
  &.violet{
    background: $violet;
  }
  &.dark-violet{
    background: $dark-violet;
  }
}

.radio-container {
  input {
    visibility: hidden;
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
  }
  label {
    color: #000000;
    font-family: $montserrat;
    font-weight: 400;
    margin-bottom: 0px;
  }
  input + label:before {
    @extend .fa;
    content: '\f10c';
    margin-right: 5px;
    color: $pink;
  }
  input:checked + label:before {
    content: '\f111';
  }
}

label {
  margin-bottom: 0px;
  font-weight: 400;
  cursor: pointer;
}

.checkbox-container {
  position: relative;
  overflow: hidden;
  label {
    padding: 10px;
  }
  input {
    visibility: hidden;
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
    margin: 0px !important;
    position: absolute;
    left: -99999px;
  }
  span {
    color: #000000;
    font-family: $montserrat;
    font-weight: 400;
    margin-bottom: 0px;
  }
  input + span:before {
    @extend .fa;
    content: '\f096';
    color: $pink;
    font-size: 17px;
    vertical-align: top;
    margin-right: 8px;
    width: 14px;
  }
  input:checked + span:before {
    content: '\f14a';
    font-size: 16px;
  }
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.filters-container {
  border-bottom: 1px solid $general-border-color;
  .filter-list {
    font-size: 0px;
    li {
      display: inline-block;
      list-style: none;
      border-right: 1px solid $general-border-color;
      font-size: 14px;
      > span, .reset-search-form {
        display: block;
        text-align: center;
        font-size: 14px;
        color: #000000;
        font-family: $workSansMedium;
        line-height: 24px;
        padding-top: 12px;
        padding-bottom: 10px;
        min-width: 80px;
      }
      &.with-sub-menu {
        position: relative;
        > span {
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer;
          &:after {
            margin-left: 7px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f107";
          }
        }
        &:hover {
          > span, .reset-search-form {
            background: #f4f4f4;
          }
          .sub-menu {
            display: block;
          }
        }
        .sub-menu {
          display: none;
          position: absolute;
          z-index: 1;
          background: #ffffff;
          top: 100%;
          margin-top: -1px;
          left: 0px;
          border: 1px solid #d8d8d8;
          .filter-group {
            .title {

            }
            .content {

            }
          }

          &.price-submenu {
            min-width: 200px;
            padding-bottom: 10px;
            .switch-currency-container {
              border-bottom: 1px solid #8f8f8f;
              &:after {
                content: '';
                display: table;
                clear: both;
              }
              .radio-container {
                padding-top: 8px;
                padding-left: 6px;
                padding-right: 6px;
                padding-bottom: 8px;
                width: 50%;
                float: left;
              }
            }
          }
          .input-container {

          }
        }
      }
      .input-container {
        padding: 12px 16px 10px 16px;
        input[type="text"] {
          min-width: 200px;
          height: 23px;
          line-height: 18px;
          padding-left: 10px;
          background: #f4f4f4;
          display: block;
          border: 1px solid #7a677d;
        }
      }
    }
    .min-max {
      padding: 10px 9px;
      @extend .clearfix;
      .input-container {
        padding: 0px;
        width: 46%;
        float: left;
        input {
          min-width: 75px;
          width: 100%;
          height: 23px;
          line-height: 20px;
          padding-left: 10px;
          &:focus {
            background: #9869b1;
            color: #fff;
            border: 1px solid #605062;
          }
        }
      }
      .delimiter {
        width: 11px;
        color: #000000;
        padding-top: 3px;
        float: left;
        text-align: center;
        padding-left: 2px;
      }
    }
    .checkbox-container {
      span {
        white-space: nowrap;
      }
    }
    .range {
      .checkbox-container {
        span {
        }
        input {

        }
        label {

        }
        input + label:before {

        }
        input:checked + label:before {

        }
      }
    }
  }
  .ta-c {
    .filter-list {
      .filter-group-container {
        .sub-menu {
          min-width: 518px;
          left: inherit;
          right: -1px;
          .filter-group-list {
            list-style: none;
            font-size: 0px;
            li {
              min-width: 153px;
              font-size: 14px;
              display: inline-block;
              vertical-align: top;
            }
          }
        }
      }
      .filter-group {
        border-left: 1px solid $general-border-color;
        border-right: none;
        &:first-child {
          border-left: none;
        }
        .title {
          border-bottom: 1px solid $general-border-color;
          padding-top: 15px;
          padding-bottom: 13px;
          text-align: center;
          color: #787878;
          font-size: 14px;
          font-family: $workSans;

        }
        .content {

        }
      }
      .js-open-more-filters {
        border-left: $general-border-color;
        &:after {
          content: '\f0c9';
        }
      }
      .reset-search-form {
        font-size: 14px;
        color: #000000;
        font-family: $workSans;
        background: #fff;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        &:hover, &:focus {
          background: #f4f0f2;
        }
      }
    }
  }
}

.gray-bg {
  background: #f0f0f0;
}

.order-list-container {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
  ul {
    li {
      font-size: $workSansMedium;
      font-size: 14px;
      padding-right: 10px;
      list-style: none;
      display: inline-block;
      span, a {
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      span {
        color: #878787;
      }
      a {
        color: #9969b2;
        &.active, &:hover {
          color: #000000;
        }
      }
    }
  }
}

.estate-item {
  margin-bottom: 25px;
  background: #fff;
  .description {
    padding-top: 12px;
    border: 1px solid #c6c6c6;
    padding-left: 13px;
    padding-right: 13px;
  }
  .title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 11px;
    @include clearfix;
    a {
      color: #983cb9;
      line-height: 20px;
      font-family: $robotoBold;
      font-size: 16px;
      display: block;
      width: 60%;
      float: left;
    }
    .price {
      color: #983cb9;
      line-height: 20px;
      font-family: $robotoBold;
      font-size: 25px;
      display: block;
      width: 40%;
      float: right;
      text-align: right;
    }
  }
  .address {
    padding-left: 11px;

    font-size: 11px;
    font-family: $workSansMedium;
    color: #7a677d;
    line-height: 14px;
    .scroll-to-map {
      display: inline-block;
      border-bottom: 1px solid #7a677d;
      line-height: 10px;
      margin-left: 10px;    color: #7a677d;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .meta {
    padding-top: 12px;
    padding-bottom: 10px;
    table.atributtes {
      border: none;
      width: 100%;
      tbody {
        tr {
          border-bottom: 1px solid #edeced;
          td {
            font-size: 12px;
            color: #343035;
            padding-top: 6px;
            padding-bottom: 5px;
            text-align: left;
            &.label {
              width: 65%;
              padding-left: 12px;
            }
          }
        }
      }
    }
  }
  .footer {
    padding-bottom: 10px;
    .details {
      margin-left: 11px;
      min-width: 115px;
      color: #a351bb;
      font-size:12px;
      font-family: $montserrat;
      line-height: 13px;
      padding-top: 4px;
      padding-bottom: 3px;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid #795192;
      display: inline-block;
      text-align: center;
      @include border-radius(3px);
      @include transition(all, ease-in-out, 0.2s);
      &:hover, &:focus {
        background: #a351bb;
        color: #fff;

      }
    }
    .favorite {
      float: right;
      margin-bottom: 10px;
      color: #a351bb;
      font-family: $montserrat;
      font-size: 12px;
      i {
        margin-right: 5px;
        font-size: 18px;
        vertical-align: sub;
        color: #000;

      }

    }
  }
}
.icon-in-constructie:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}



.bg-gray{
  background: #f9f9f9;
}
.orange {
  background: #fbe88f;
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: "work_sansregular";
  font-size: 32px;
  color: #5f4180;
}
.service-block-title{
  padding-top: 48px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.service-block-title p{
  font-family: $workSans;
  font-size: 18px;
  line-height: 28px;
  color: #5e5d5b;
}
.service-block-title hr{
  width: 280px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 1px solid #c3c3c3;
}
.service-post{
  .block-gray{
    padding-right: 0px !important;
  }
}
.service-item{
  padding-top: 41px;
  padding-bottom: 65px;
  text-align: center;
  h4{
    font-family: $robotoBold;
    letter-spacing: 2px;
  }
  hr{
    max-width: 432px;
    margin-top: 30px;
    border-top: 1px solid #8c8b8a;
  }
  .gray-letter {
    margin: 0% 10%;
    p{
      line-height: 27px;
      color: #5e5d5b;
    }
  }
}
.icon-container{
  width: 68px;
  height: 68px;
  margin: 0px auto;
  margin-bottom: 25px;
  background: #f7e565;
  border-radius: 60%;
}
.icon-container img{
  height: 37px;
  margin-top: 10px;

}
.border-gray{
  border-top: 5px solid #f9f9f9;
}
.service-page{
  .contact-description{
    background: #fbe88f;
  }
  .contact-info{
    border:none ;
  }
}

.row.border-gray {
  margin-left: 0px;
  margin-right: 0px;
  > div {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.service-img {
  img {
    width: 100%;
    height: 387px;
  }
}
.promote{
  .width{
    max-width: 901px;
    padding-bottom: 100px;
  }
  h3{
    padding-top: 24px;
    padding-bottom: 10px;
    font-size: 29px;
    font-family: "work_sansregular";
    line-height: 22px;
  }
}
.promote-block-title {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  p{
    font-family: $workSans;
    font-size: 14px;
    line-height: 28px;
    color: #370757;
  }
  .item-1{
    top: 25%;
  }
  .item-2{
    bottom: 17%;
  }
  .item-3{
    top: 16%;
    right: -2%;
  }
  .item-4{
    bottom: 22%;
    right: -2%;
  }
}
.bg-light-blue{
  background: $light-blue;
}
.bg-promote{
  background: url(../images/Pagina-promoveaza.png) no-repeat;
  height: 500px;
  text-align: center;
  background-position: center;

}
.promo-description{
  position: absolute;
  width: 255px;
  text-align: left;
  h3{
    padding-bottom: 0px;
    font-size: 19px;
    font-family:$workSansbold;
  }
  p{
    font-size: 11px;
    line-height: 18px;
  }
}
.promo-title-special{
  padding-bottom: 80px;
  text-align: center;
  h3{
    padding-top: 60px;
    padding-bottom: 20px;
    font-family:$robotoBold;
    font-size: 44px;
    color: #000;
  }
  p{
    padding-bottom: 10px;
    font-family:$workSans;
    font-size: 18px;
    letter-spacing: -1px;
    color: #000;
    opacity:0.6;
  }
  hr{
    border-top: 3px solid #e3e3e3;
  }
}
.card-pachete{
  height: 405px;
  cursor: -webkit-grab;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  &:hover {
    transition: all 200ms ease-in;
    transform: scale(1.15);
    background: #fff;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 1);
  }
  .bronz{
    background:url("../images/bronz.png") no-repeat;
    h6{
      margin-right: 40px;
    }
  }
  .silver{
    background:url("../images/silver.png") no-repeat;
  }
  .gold{
    background:url("../images/gold.png") no-repeat;
  }
  .platinum{
    background:url("../images/purple.png") no-repeat;
    .first-title{
      margin-bottom: 23px;
    }
    .price{
      margin-bottom: 23px;
      span{
        font-size: 16px;
      }
    }
  }
  .link{
    position: absolute;
    width: 125px;
    height: 28px;
    margin: auto;
    margin-left: -60px;
    background: #f5f5f5;
    left: 50%;
    bottom: 20px;
    border-radius: 2px;
    border-bottom: 1px solid #c5c5c5;
    text-align: center;
    a{
      display: inline-block;
      margin-bottom: 3px;
      font-family:$robotoBold;
      font-size: 9px;
      color: #7e0e75;
      text-decoration: none;
      vertical-align: middle;
    }
    &:before{
      content: '';
      display: inline-block;
      width: 23px;
      height: 18px;
      margin-top: 3px;
      margin-right: 3px;
      background: url("../images/mini-logo.png") no-repeat;
    }

  }
}
.pach-title{
  width: 150px;
  margin-left: auto;
  text-align: right;
  color: #fff;
  h3{
    margin: 15px;
    margin-bottom: 3px;
    padding: 0px;
    font-family: "montserratregular";
    font-size: 21px;
  }
  h6{
    margin-right: 10px;
    margin-top: inherit;
    margin-bottom: inherit;
    padding: 0px;
    font-family: "work_sansregular";
    font-size: 10px;
  }
}
.price{
  margin: 7px;
  margin-top: 0px;
  font-family:$workSans;
  font-size: 10px;
  color: #fff;
  span{
    font-size:21px;
    font-family:$montserrat;
  }
  p{
    margin-bottom: 2px;
    font-family:$montserrat;
    font-size: 8px;
  }
}
.pach-list{
  padding: 20px 10px 60px 10px;
  ul{
    padding-left: 20px;
  }
  li{
    margin-bottom: 10px;
    font-family:$workSansbold;
    font-size: 10px;
  }
}
.pach-message{
  padding: 100px 40px 100px 45px;
  text-align: center;
  font-size: 11px;
  font-family: $montserratBold;
  line-height: 15px;
}
.promote-page{
  .contact-info{
    margin-top: 80px;
    padding-bottom: 150px;
    border: none;
  }
}
.question-page {
  .section-title {
    padding-top: 17px;
    padding-bottom: 13px;
    margin-bottom: 55px;
    font-family: $workSansLight;
    font-size: 36px;
    letter-spacing: -1px;
  }
}
  .question-wrapper{
    background: #f0f0f0;
  }
  .question-block-title{
    max-width: 1190px;
    margin:auto;
    margin-bottom: 70px;
    background: #fff;
    font-family:$workSans;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    border: 7px solid #a52f4a;
    letter-spacing: -1px;
    p{
      padding: 35px;
      padding-bottom: 20px;
    }
  }


.grid {
  margin:auto;
  margin-bottom: 100px;
  list-style: none;
  padding: 0;
  a{
    &:hover{
      .hide-info{
        transition: all 0.7s ease;
        display: none;
      }
      .show-info{
        transition: all 0.7s ease;
        display: block;
      }
    }
    .hide-info{
      transition: all 0.7s ease;
    }
  }
  .show-info{
    transition: all 0.7s ease;
    display: none;
  }
}

.grid li {
  display: block;
  float: left;
  padding: 7px;
  opacity: 1;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}

.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}

/* Effect 1: opacity */
.grid.effect-1 li.animate {
  -webkit-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
  0% { }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { }
  100% { opacity: 1; }
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

/* Effect 3: Scale up */
.grid.effect-3 li.animate {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-animation: scaleUp 0.65s ease-in-out forwards;
  animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
  0% { }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
  0% { }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* Effect 4: fall perspective */
.grid.effect-4 {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.grid.effect-4 li.animate {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  -webkit-animation: fallPerspective .8s ease-in-out forwards;
  animation: fallPerspective .8s ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
  0% { }
  100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
  0% { }
  100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-5 {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.grid.effect-5 li.animate {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -300px;
  transform-origin: 50% 50% -300px;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  -webkit-animation: fly .8s ease-in-out forwards;
  animation: fly .8s ease-in-out forwards;
}

@-webkit-keyframes fly {
  0% { }
  100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes fly {
  0% { }
  100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-6 {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.grid.effect-6 li.animate {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotateX(-80deg);
  transform: rotateX(-80deg);
  -webkit-animation: flip .8s ease-in-out forwards;
  animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
  0% { }
  100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
  0% { }
  100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-7 {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.grid.effect-7 li.animate {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: helix .8s ease-in-out forwards;
  animation: helix .8s ease-in-out forwards;
}

@-webkit-keyframes helix {
  0% { }
  100% { -webkit-transform: rotateY(0deg); opacity: 1; }
}

@keyframes helix {
  0% { }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

/* Effect 8:  */
.grid.effect-8 {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.grid.effect-8 li.animate {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-animation: popUp .8s ease-in forwards;
  animation: popUp .8s ease-in forwards;
}
.profile-page{
  .main-header{
    padding: 10px 0 ;
  }
  .dropdown-block{
    position: relative;

  }
  .dropdown-item{
    font-size:15px;
    font-family: $workSansSemiBold;
    text-transform: none;
    letter-spacing: 1px;

  }
  .dropdown-block{
    position: relative;
    &:after{
      content: " ";
      position: absolute;
      right: -20px;
      top: 5px;
      display: block;
      width: 11px;
      height: 7px;
      background: url("../images/arrow.png") no-repeat;
    }
  }
  .header-menu{
    float: right;
    margin-right: 30px;
    .header-menu-dropdown{
      top: 30px;
      right: -25px;
    }
    &:before{
      content:'';
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      left: -40px;
      top: -8px;
      background: url("../images/profil-image.png") no-repeat;
    }
  }
}

.profile-section{
  padding-top: 50px;
  padding-bottom: 180px;
  border-top:1px solid #d4d4d4 ;
  background: #f0f0f0;
}
.profile-option{
  margin-top: 50px;
  .tabs{
    li{
      display: inline-block;
      margin-left: -5px;
      &:first-child{
        margin-left: 0px;
      }
    }
    ul{

    }
    a{
      display: block;
      padding: 25px 20px;
      font-family:$workSans;
      font-size: 19px;
      color: #3f3e3e;
      text-decoration: none;
      &:hover{
        color: #c71061;
        background: #ffffff;
        border-top: 1px  solid #e0e1e1;
        border-right: 1px  solid #e0e1e1;
        border-left: 1px  solid #e0e1e1;
      }
    }
    .active{
      color: #c71061;
      background: #ffffff;
      border-top: 1px  solid #e0e1e1;
      border-right: 1px  solid #e0e1e1;
      border-left: 1px  solid #e0e1e1;
    }
  }
 .tabs-content{
   height: 550px;
   padding: 95px;
   margin-top: -1px;
   background: #fff;
   border: 1px solid  #b5b5b6;
   text-align: center;
   font-size: 19px;
   font-family:$workSans;
   h4{
     margin-bottom: 50px;
     font-family:$workSansMedium;
   }
   img{
     margin-bottom: 30px;
   }
   p{
     line-height: 25px;
   }
   .violet-text{
     color: #db0ed9;
   }
   .btn{
     width: 175px;
     height: 37px;
     margin-top: 10px;
     background: #c61060;
     font-size: 17px;
     color: #FFF;
     line-height: 25px;
   }
 }
}
.main-fixed{
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  z-index: 9999;
  border-bottom: 1px solid #3c3c3c;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .6s;

}
.pdd-body{
  padding-top: 84px;
}