.estate-item
  .img-container
    %a(href="#" )
      %img(src="./images/demo/estate-thumbnail.jpg" )
  .description
    %h3.title
      %a(href="#" )
        Apartament 2 camere
      %span.price
        € 67 000
    .address
      Str. Calea lui Traian, nr 87
      %a.scroll-to-map(href="#" ) Localizare
    .meta
      %table.atributtes
        %tbody
          %tr
            %td.label
              Nr camere
            %td.value
              2
          %tr
            %td.label
              Nr băi
            %td.value
              1
          %tr
            %td.label
              Compartimentare
            %td.value
              decomandat
          %tr
            %td.label
              Suprafaţă
            %td.value
              60 mp
          %tr
            %td.label
              Etaj
            %td.value
              4
    .footer
      %a.details(href="#" )
        Detalii
      %a.favorite.js-add-to-favorites
        %i.icon-inimacasa-01
        Adaugă la favorite