%section.distribution
  .container
    .row
      .col-md-5.col-md-offset-3
        %p  Fii la curent cu ce se mai intamplă pe aici, înscrie-te la newsletter!
        .input-group
          %input.form-control.search-input(placeholde="Adresa de e-mail" type="email")
          %span.input-group-btn
            %button.btn.btn-default(type="button") TRIMITE
%footer.footer
  .footer-top
    .container
      .row
        .col-md-4.hidden-xs
          %a(href="#" ).footer-logo
        .col-md-2.col-xs-6.footer-info
          .footer-headline
            %h5 URMĂREŞTE-NE
          .footer-content
            %a(href="#") Facebook
            %a(href="#") Pinterest
            %a(href="#") Linkedin
            %a(href="#") Youtube
        .col-md-2.col-xs-6.footer-info
          .footer-headline
            %h5 DESPRE NOI
          .footer-content
            %a(href="#") Ştiri
            %a(href="#") De ce case noi?
            %a(href="#") Ghidul cumpărătorului
        .col-md-2.col-xs-6.footer-info
          .footer-headline
            %h5 TERMENI DE FOLOSIRE
          .footer-content
            %a(href="#") Confidenţialitate
            %a(href="#") Contactaţi-ne
            %a(href="#") Contactaţi-ne
        .col-md-2.col-xs-6.footer-info
          .footer-headline
            %h5 TERMENI DE FOLOSIRE
          .footer-content
            %a(href="#") Design de interior
            %a(href="#") Arhitectură
            %a(href="#") Cadastru
  .footer-bottom
    .container
      .row
        .com-sm-12
          %p Pentru informaţii detaliate despre celelalte programe cofinanţate de Uniunea Europeană, vă invităm să vizitaţi <a href="#">www.fonduri-ue.ro</a> Conţinutul acestui material nu reprezintă în mod obligatoriu poziţia oficială a Uniunii Europene sau a Guvernului României





  %script(src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript")
  %script(src="js/libs/jquery.matchHeight.js"  type="text/javascript")
  %script(src="js/libs/chosen.jquery.min.js"  type="text/javascript")
  %script(src="js/libs/masonry.pkgd.min.js"  type="text/javascript")
  %script(src="js/libs/owl.carousel.min.js"  type="text/javascript")
  %script(src="js/libs/iziModal.min.js" type="text/javascript")
  %script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js" type="text/javascript")
  %script(src="js/scripts.min.js"  type="text/javascript")