%header
  .header-top
    .container
      .row
        .col-md-12
          %p.partners-description Acest site este cofinanţat din Fondul Social European prin Programul Operaţional Sectorial Dezvoltarea Resurselor Umane 2007-2013
          %a.logo-partners(href="#")
  .main-header
    .container
      .row
        .col-md-2.col-xs-4
          %a.logo(href="#")
        .col-md-3.col-md-offset-1.col-xs-6
          .input-mobile-wrapper
            .input-group.input-group-head
              %input.form-control(placeholder="Adresa de e-mail" type="email")
              %span.input-group-btn
                %button.btn.btn-default(type="button") Caută
        .col-md-5.text-right.mob-hide
          %ul.main-nav
            %li
              %a(href="#" ) POMOVEAZĂ-TE
            %li
              %a(href="#" ) ŞTIRI

            %li.dropdown-block.save-block
              %a.dropdown-item.icon-inimacasa-01(href="#")

              %ul.header-menu-dropdown
                %li
                  %a.dropdown-link(href="#") Salvează căutările

            %li
              %a(href="#" ) CONTACT
            %li
              %a(href="#" ) LOGIN
        .col-md-1.mob-hide
          %ul.header-menu
            %li.dropdown-block
              %a.dropdown-item(href="#") MENIU

              %ul.header-menu-dropdown

                %li
                  %a.dropdown-link(href="#") Acasă
                %li
                  %a.dropdown-link(href="#") De ce case noi
                %li
                  %a.dropdown-link(href="#") Despre noi
                %li
                  %a.dropdown-link(href="#") Servicii
                %li
                  %a.dropdown-link(href="#") Proiecte imobiliare
                %li
                  %a.dropdown-link.dropdown-link-last(href="#") Părerea voastră
        .col-md-6.col-xs-2
          .navbar-menu-overlay
          %a.mob-menu-icon(href="#")
            %span
          .mob-sidebar
            .mob-menu-container
              %ul.menu.menu-mob
                %li
                  %a.dropdown-link(href="#") POMOVEAZĂ-TE
                %li
                  %a.dropdown-link(href="#") ŞTIRI
                %li
                  %a.dropdown-link(href="#") CONTACT
                %li
                  %a.dropdown-link(href="#") LOGIN
                %li
                  %a.menu-mob-item(href="#") Acasă
                %li
                  %a.menu-mob-item(href="#") De ce case noi
                %li
                  %a.menu-mob-item(href="#") Despre noi
                %li
                  %a.menu-mob-item(href="#")  Servicii
                %li
                  %a.menu-mob-item(href="#") Proiecte imobiliare
                %li
                  %a.menu-mob-item(href="#") Părerea voastră





