%meta(charset="utf-8")
%meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
%meta(name="apple-mobile-web-app-capable" content="yes")
%title @@title
%link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
%link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
%link(rel="stylesheet" href="css/libs/bootstrap.min.css")
%link(rel="stylesheet" href="css/libs/bootstrap-theme.min.css")
%link(rel="stylesheet" href="css/libs/chosen.css")
%link(rel="stylesheet" href="css/libs/owl.carousel.min.css")
%link(rel="stylesheet" href="css/libs/owl.theme.default.css")
%link(rel="stylesheet" href="css/app.css")
%link(rel="stylesheet" href="css/fonts.css")
