%header
  .header-top
    .container
      .row
        .col-md-12
          %p.partners-description Acest site este cofinanţat din Fondul Social European prin Programul Operaţional Sectorial Dezvoltarea Resurselor Umane 2007-2013
          %a.logo-partners(href="#")
  .main-header
    .container
      .row
        .col-md-2.col-xs-4
          %a.logo(href="#")
        .col-md-3.col-md-offset-1.col-xs-6
          .input-mobile-wrapper
            .input-group.input-group-head
              %input.form-control(placeholder="Adresa de e-mail" type="email")
              %span.input-group-btn
                %button.btn.btn-default(type="button") Caută
        .col-md-5.text-right.mob-hide
          %ul.main-nav
            %li
              %a(href="#" ) POMOVEAZĂ-TE
            %li
              %a(href="#" ) ŞTIRI

            %li.dropdown-block.save-block
              %a.dropdown-item.icon-inimacasa-01(href="#")

              %ul.header-menu-dropdown
                %li
                  %a.dropdown-link(href="#") Salvează căutările

            %li
              %a(href="#" ) CONTACT
            %li
              %a(href="#" ) LOGIN
        .col-md-1.mob-hide
          %ul.header-menu
            %li.dropdown-block
              %a.dropdown-item(href="#") MENIU

              %ul.header-menu-dropdown

                %li
                  %a.dropdown-link(href="#") Acasă
                %li
                  %a.dropdown-link(href="#") De ce case noi
                %li
                  %a.dropdown-link(href="#") Despre noi
                %li
                  %a.dropdown-link(href="#") Servicii
                %li
                  %a.dropdown-link(href="#") Proiecte imobiliare
                %li
                  %a.dropdown-link.dropdown-link-last.show-modal-form(href="#") Părerea voastră
        .col-md-6.col-xs-2
          .navbar-menu-overlay
          %a.mob-menu-icon(href="#")
            %span
          .mob-sidebar
            .mob-menu-container
              %ul.menu.menu-mob
                %li
                  %a.dropdown-link(href="#") POMOVEAZĂ-TE
                %li
                  %a.dropdown-link(href="#") ŞTIRI
                %li
                  %a.dropdown-link(href="#") CONTACT
                %li
                  %a.dropdown-link(href="#") LOGIN
                %li
                  %a.menu-mob-item(href="#") Acasă
                %li
                  %a.menu-mob-item(href="#") De ce case noi
                %li
                  %a.menu-mob-item(href="#") Despre noi
                %li
                  %a.menu-mob-item(href="#")  Servicii
                %li
                  %a.menu-mob-item(href="#") Proiecte imobiliare
                %li
                  %a.menu-mob-item(href="#") Părerea voastră

  #modal-form-window.izi-modal
    .main-form-wrapper
      .item
        .first-form
          .title
            %p Spuneţi-ne despre experienţa cu noi
            %p Părerea voastră ne va ajuta să fim mai buni
            %p Ai recomanda Vrei casă.ro prietenilor tăi?
          .modal-form
            .radio-container(data-attr="1")
              %input(type="radio" class="radio" id="radio-1")
              %label.bg-color-1(for="radio-1")
              %span 1
            .radio-container(data-attr="2")
              %input(type="radio" class="radio" id="radio-2")
              %label.bg-color-2(for="radio-2")
              %span 2
            .radio-container(data-attr="3")
              %input(type="radio" class="radio" id="radio-3")
              %label.bg-color-3(for="radio-3")
              %span 3
            .radio-container(data-attr="4")
              %input(type="radio" class="radio" id="radio-4")
              %label.bg-color-4(for="radio-4")
              %span 4
            .radio-container(data-attr="5")
              %input(type="radio" class="radio" id="radio-5")
              %label.bg-color-5(for="radio-5")
              %span 5
          .result-rating
            .result(data-attr="1")
              .img-container
                %img(src="images/smile-5.png")
              .gray-letter
                %p În nici un caz
            .result(data-attr="2")
              .img-container
                %img(src="images/smile-4.png")
              .gray-letter
                %p Nu încă
            .result(data-attr="3")
              .img-container
                %img(src="images/smile-3.png")
              .gray-letter
                %p Da, o să recomand
            .result(data-attr="4")
              .img-container
                %img(src="images/smile-2.png")
              .gray-letter
                %p În fine
            .result(data-attr="5")
              .img-container
                %img(src="images/smile.png")
              .gray-letter
                %p Deja am recomandat
        .second-form
          .title
            %p Cum ai aflat de Vrei casa.ro
          .modal-form
            .radio-container
              %input(type="radio" class="radio" id="radio-6" onclick="radioClick(this);")
              %label(for="radio-6")
              %span Pe internet
            .radio-container
              %input(type="radio" class="radio" id="radio-7" onclick="radioClick(this);")
              %label(for="radio-7")
              %span Reviste, pliante
            .radio-container
              %input(type="radio" class="radio" id="radio-8" onclick="radioClick(this);")
              %label(for="radio-8")
              %span Banere, postere
            .radio-container
              %input(type="radio" class="radio" id="radio-9" onclick="radioClick(this);")
              %label(for="radio-9")
              %span De la prieteni sa familie
        .third-form
          .title
            %p Folosirea Vrei casă.ro este:
          .modal-form
            .radio-container
              %input(type="radio" class="radio orange-col" id="radio-10" onclick="radioClick(this);")
              %label(for="radio-10")
              %span Greu
            .radio-container
              %input(type="radio" class="radio violet-col" id="radio-11" onclick="radioClick(this);")
              %label(for="radio-11")
              %span.pos-left În regulă
            .radio-container
              %input(type="radio" class="radio pink-col" id="radio-12" onclick="radioClick(this);")
              %label(for="radio-12")
              %span Uşor
        .last-form
          .title
            %p Aveţi sfaturi pentru noi?
          .modal-form
            .radio-container
              %input(type="radio" class="radio" id="radio-13" onclick="radioClick(this);")
              %label(for="radio-13")
              %span Pozele pot fi mai bune
            .radio-container
              %input(type="radio" class="radio" id="radio-14" onclick="radioClick(this);")
              %label(for="radio-14")
              %span Necesita mai multe informaţii referitoare la amplasament
            .radio-container
              %input(type="radio" class="radio" id="radio-15" onclick="radioClick(this);")
              %label(for="radio-15")
              %span Postaţi mai multe oferte
            .radio-container
              %input(type="radio" class="radio" id="radio-16" onclick="radioClick(this);")
              %label(for="radio-16")
              %span Rectificaţi informaţiile greşite
            .btn-container
              %button.alt(type="button") Alt sfat
              %button.btn-subm(type="submit") Trimite