.home-item
  .img-container
    %a(href="#" )
      %img(src="./images/demo/estate-thumbnail.jpg" )
  .description
    %h3.title
      %a.adress(href="#" )
        Matei Basarab, nr 4 app 543
      %span.price
        € 67 000

    .meta
      %table.atributtes
        %tbody
          %tr
            %td.label
              Nr camere 2
            %td.value
              Mp: 87 mp
          %tr
            %td.label
              Etaj: 2



    .footer
      %a.details.text-center(href="#" )
        Detalii
