.project-item
  .img-container
    %a(href="#" )
      %img(src="./images/project-img.png" )
  .description
    %h3.title
      %a(href="#" )
        Complex “Vis frumos”
      %span.phone
        079584782
    .name
      SC.Harmony.SRL
    .address
      Str. Calea lui Traian, nr 87
      %a.scroll-to-map(href="#" ) Localizare
    .meta
      %table.atributtes
        %tbody
          %tr
            %td.label
              Nr camere
            %td.value
              1000 mp
          %tr
            %td.label
              Dat în exploatare
            %td.value
              2017
          %tr
            %td.label
              Numărul de etaje
            %td.value
              12
          %tr
            %td.label
              Suprafață minimă
            %td.value
              60 mp
          %tr
            %td.label
              Suprafață maximă
            %td.value
              200 mp
    .footer
      %a.details(href="#" )
        Detalii
      %a.favorite.js-add-to-favorites
        %i.icon-inimacasa-01
        Adaugă la favorite