!!! 5
<!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  %head
    @@include('./_head.html', {
      "title": "Vrei casa"
    })
  %body
    .promote-page
      @@include('./_header.html')

        %section.promote
          %h3.section-title.violet Promovează-te
          .container-fluid
            .row
              .col-sm-12.bg-light-blue
                .promote-block-title
                  %p
                    “Intermediem vânzarea și închirierea de apartamente și case noi direct dezvoltator, spații comerciale și terenuri, case noi direct dezvoltator, spații comerciale și terenuri ”
                  .bg-promote
                  .promo-description.item-1
                    %h3 VEZI OFERTA
                    %p Îți oferim un pachet de promovare care inculde fotografii profesionale , un design modern și o poveste care îți va incadra oferta într-un ambalaj de nerefuzat
                  .promo-description.item-2
                    %h3 VIN CUMPĂRĂTORI
                    %p Știm ca o vânzare reușită este una  rapidă, așa că te vom ajuta să îți vinzi spațiul/locuința în cel mai scurt timp
                  .promo-description.item-3
                    %h3 VINZI / ÎNCHIRIEZI
                    %p Vreicasa.ro îți va pune la dipoziție un pachet de produse și servicii ce va îmbina tehnologia, marketingul și efortul unei echipe specializate în vânzări imobiliare
                  .promo-description.item-4
                    %h3 NE PREGĂTIM DE VANZARE
                    %p Te promovăm prin cele mai reușite motoare de căutare și pe cele mai cunoscute site-uri. În plus, la biroul nostru, cumpărătorii vor primi prezentarea promovarea ofertelor tale și consultanță
          .container.width
            .row
              .promo-title-special
                %h3 Pachete speciale
                %p alege-l pe pe cel care ți se potrivește
                %hr
            .row
              .col-sm-3.col-xs-6
                .card-pachete
                  .img-container.bronz
                    .pach-title
                      %h3.first-title BRONZE
                      %h6.second-title 1 anunț
                    .price
                      %p
                        %span 8€
                        pe luna (30 zile)
                      %p 10% discount plata anticipata (luna)
                      %p 10% discount plata anticipata (luna)
                  .pach-list
                    %ul
                      %li ÎNREGISTRAREA ANUNȚULUI
                      %li SOCIAL MARKETING
                      %li POZE PROFESIONALE
                      %li REALIZARE FIȘĂ ”WHO IS ” A VÂNZĂTORULII
                      %li REACTUALIZARE AUTOMATĂ
                  .link
                    %a(href="#") CONTACTEAZĂ-NE
              .col-sm-3.col-xs-6
                .card-pachete
                  .img-container.silver
                    .pach-title
                      %h3.first-title SILVER
                      %h6.second-title până la 10 anunțuri
                    .price
                      %span 15€
                      pe luna (30 zile)
                      %p 10% discount plata anticipata (luna)
                      %p 10% discount plata anticipata (luna)
                  .pach-list
                    %ul
                      %li AFIȘARE DEASUPRA PACHETELOR ”BRONZE”
                      %li ÎȚI PROMOVĂM 1 ANUNȚ PE PAGINĂ
                      %li ÎNREGISTRAREA ANUNȚULUI
                      %li SOCIAL MARKETING
                      %li POZE PROFESIONALE
                      %li REALIZARE FIȘĂ ”WHO IS” A VÂNZĂTORULUI
                      %li REACTUALIZARE AUTOMATĂ
                  .link
                    %a(href="#") CONTACTEAZĂ-NE
              .col-sm-3.col-xs-6
                .card-pachete
                  .img-container.gold
                    .pach-title
                      %h3.first-title GOLD
                      %h6.second-title până la 50 anunțuri
                    .price
                      %span 50€
                      pe luna (30 zile)
                      %p 10% discount plata anticipata (luna)
                      %p 10% discount plata anticipata (luna)
                  .pach-list
                    %ul
                      %li PREZENTAREA ANSAMBLULUI IMOBILIAR
                      %li AFIȘARE DEASUPRA PACHETELOR ”BRONZE”
                      %li ÎȚI PROMOVĂM 1 ANUNȚ PE  PRIMA PAGINĂ
                      %li ÎNREGISTRAREA ANUNȚULUI
                      %li SOCIAL MARKETING
                      %li POZE PROFESIONALE
                      %li REALIZARE FIȘĂ ”WHO IS” A VÂNZĂTORULUI
                      %li REACULATIZARE AUTOMATĂ
                  .link
                    %a(href="#") CONTACTEAZĂ-NE
              .col-sm-3.col-xs-6
                .card-pachete
                  .img-container.platinum
                    .pach-title
                      %h3.first-title PLATINUM
                    .price
                      %span 1,5 % din vânzare
                  .pach-message
                    %p DACA NU AI TIMP SA TE OCUPI DE VÂNZARE, O FACEM NOI PENTRU TINE!
                  .link
                    %a(href="#") CONTACTEAZĂ-NE
          .contact-info
            .container
              .row
                .col-md-8
                  %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2842064.057454162!2d22.76140647552017!3d45.922241558182385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff26958976c3%3A0x84ef4f92a804b194!2z0KDRg9C80YvQvdC40Y8!5e0!3m2!1sru!2s!4v1484580768762" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen)

                .col-md-4
                  .contact-details
                    .phone
                      %h5 Telefon
                      %p 0754 843 242
                  .contact-details
                    .mail
                      %h5 Mail
                      %p Vreicasa@gmail.com
                  .contact-details
                    .skype
                      %h5 Skype
                      %p Vreicasa
                  .contact-details
                    .facebook
                      %h5 Facebook
                      %p Vreicasa
        @@include('./_footer.html')