<section class="distribution">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p>{{ __('Fii la curent cu ce se mai intamplă pe aici, înscrie-te la newsletter!', 'project') }}</p>
                <div class="input-group">
                    <input placeholder="Adresa de e-mail" type="email" class="form-control search-input"/>
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default">{{ __('TRIMITE', 'project') }}</button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</section>