<ul class="sort-list">
    <li>
        <span>{{ __('Numărul de anunțuri pe pagină', 'project') }}</span>
    </li>
    <li>
        <a href="#" class="js-update-postsPerPage" data-value="24">24</a>
    </li>
    <li>
        <a href="#" class="js-update-postsPerPage" data-value="48">48</a>
    </li>
    <li>
        <a href="#" class="js-update-postsPerPage" data-value="72">72</a>
    </li>
</ul>