<div class="checkbox-container">
    <label>
        <input type="checkbox" name="{{ name }}" value="{{ value }}" {{ getFormCheckboxValue(name) }}/>
        <span>{{ title }}</span>
    </label>
</div>